trunk/reniec-parent/reniec-web/src/main/webapp/WebServices/AutorizacionesWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://impl.ws.reniec.bbva.com.pe" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax211="http://dominio.ws.reniec.bbva.com.pe/xsd" xmlns:xsd="http://pe.com.bbva.reniec.ws/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://impl.ws.reniec.bbva.com.pe">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dominio.ws.reniec.bbva.com.pe/xsd">
            <xs:complexType name="ConsultanteWS">
                <xs:sequence>
                    <xs:element minOccurs="0" name="DOI" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="centro" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="identificador" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="materno" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nacimiento" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="nacionalidad" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="origen" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paterno" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tipoDOI" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RespuestaAutorizacion">
                <xs:sequence>
                    <xs:element minOccurs="0" name="error" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax212="http://dominio.ws.reniec.bbva.com.pe/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pe.com.bbva.reniec.ws/wsdl">
            <xs:import namespace="http://dominio.ws.reniec.bbva.com.pe/xsd"/>
            <xs:element name="registrarAutorizacion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="consultante" nillable="true" type="ax212:ConsultanteWS"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registrarAutorizacionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:RespuestaAutorizacion"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="consultarAutorizacion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identificador" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="consultarAutorizacionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:ConsultanteWS"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="consultarAutorizacionRequest">
        <wsdl:part name="parameters" element="xsd:consultarAutorizacion"/>
    </wsdl:message>
    <wsdl:message name="consultarAutorizacionResponse">
        <wsdl:part name="parameters" element="xsd:consultarAutorizacionResponse"/>
    </wsdl:message>
    <wsdl:message name="registrarAutorizacionRequest">
        <wsdl:part name="parameters" element="xsd:registrarAutorizacion"/>
    </wsdl:message>
    <wsdl:message name="registrarAutorizacionResponse">
        <wsdl:part name="parameters" element="xsd:registrarAutorizacionResponse"/>
    </wsdl:message>
    <wsdl:portType name="AutorizacionesWSServicePortType">
        <wsdl:operation name="consultarAutorizacion">
            <wsdl:input message="ns:consultarAutorizacionRequest" wsaw:Action="urn:consultarAutorizacion"/>
            <wsdl:output message="ns:consultarAutorizacionResponse" wsaw:Action="urn:consultarAutorizacionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="registrarAutorizacion">
            <wsdl:input message="ns:registrarAutorizacionRequest" wsaw:Action="urn:registrarAutorizacion"/>
            <wsdl:output message="ns:registrarAutorizacionResponse" wsaw:Action="urn:registrarAutorizacionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AutorizacionesWSServiceSoap11Binding" type="ns:AutorizacionesWSServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="consultarAutorizacion">
            <soap:operation soapAction="urn:consultarAutorizacion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registrarAutorizacion">
            <soap:operation soapAction="urn:registrarAutorizacion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AutorizacionesWSServiceSoap12Binding" type="ns:AutorizacionesWSServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="consultarAutorizacion">
            <soap12:operation soapAction="urn:consultarAutorizacion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registrarAutorizacion">
            <soap12:operation soapAction="urn:registrarAutorizacion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AutorizacionesWSServiceHttpBinding" type="ns:AutorizacionesWSServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="consultarAutorizacion">
            <http:operation location="consultarAutorizacion"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registrarAutorizacion">
            <http:operation location="registrarAutorizacion"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AutorizacionesWSService">
        <wsdl:port name="AutorizacionesWSServiceHttpSoap11Endpoint" binding="ns:AutorizacionesWSServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/AutorizacionesWSImpl"/>
        </wsdl:port>
        <wsdl:port name="AutorizacionesWSServiceHttpSoap12Endpoint" binding="ns:AutorizacionesWSServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/AutorizacionesWSImpl"/>
        </wsdl:port>
        <wsdl:port name="AutorizacionesWSServiceHttpEndpoint" binding="ns:AutorizacionesWSServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/AutorizacionesWSImpl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
